.svgContainer {
	position: realtive;
	width: 100vw;
	overflow: hidden;
}

.svg {
	position: absolute;
	z-index: -1;
	width: 100vw;
	transform: translateY(-40rem);
	filter: invert(84%) sepia(17%) saturate(6209%) hue-rotate(317deg)
		brightness(103%) contrast(98%);
}

.grid {
	padding-top: 12.4rem;
	padding-bottom: 6.4rem;
	width: 70vw;
	margin: 0 auto;
	display: grid;
	gap: 2.4rem;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.grid div {
	width: 100%;
}

@media (max-width: 25em) {
	.svg {
		transform: translateY(-100px);
	}
	.grid {
		width: 85vw;
		padding-top: 24px;
	}
}
