/* .container {
	height: 100vh;
	max-width: 95vw;
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
} */

/* .headings {
	padding-bottom: 100px;
	position: relative;
} */

.headImg {
	width: 50vw;
	z-index: -1;
}
.nr {
	position: absolute;
	right: 0%;
	bottom: 50%;
	transform: translateY(140%);
	font-size: 24vw;
	line-height: 0.6;
	color: #0b0a11;
	opacity: 0.09;
}

/* .vertical {
	writing-mode: tb-rl;
	transform: rotate(180deg);
	padding-bottom: 50px;
} */

/* .year {
	color: #c0d1c5;
	font-weight: 500;
	font-size: 20vw;

	opacity: 0;
	animation-name: year;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
} */

/* .season {
	text-transform: uppercase;
	text-align: right;
	font-weight: 400;
	line-height: 30%;
	font-size: 6vw;
	margin-bottom: 90px;
	text-decoration: underline black 0.5rem;

	opacity: 0;
	animation-name: season;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
} */

/* .above {
	position: absolute;
	left: 7vw;
	font-size: 6vw;
	bottom: 120px;

	opacity: 0;
	animation-name: above;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	animation-fill-mode: forwards;
	animation-delay: 0.9s;
} */

@keyframes year {
	from {
		opacity: 0;
		transform: translate(10vw, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes season {
	from {
		opacity: 0;
		transform: translate(10vw, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes above {
	from {
		opacity: 0;
		transform: translate(-10vw, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@media (max-width: 84em) {
	/* .container {
		height: inherit;
	} */
	.nr {
	}
	.above {
		bottom: 100px;
	}
	.season {
		margin-bottom: 70px;
	}
}

@media (max-width: 75em) {
	.above {
		bottom: 90px;
	}
	.season {
		margin-bottom: 40px;
	}
}

@media (max-width: 50em) {
	.above {
		bottom: 90px;
	}
	.season {
		margin-bottom: 20px;
	}
}

/* @media (max-width: 100em) {
	.year {
		font-size: 35rem;
	}

	.season {
		font-size: 10rem;
	}

	.above {
		font-size: 11rem;
	}
}

@media (max-width: 81em) {
	.container {
		height: inherit;
	}
	.nr {
		font-size: 34rem;
		bottom: 13%;
	}
	.above {
		font-size: 10rem;
	}
}

@media (max-width: 44em) {
	.nr {
		font-size: 26rem;
		bottom: 13%;
	}
	.year {
		font-size: 25rem;
	}

	.season {
		font-size: 6rem;
	}

	.above {
		font-size: 6rem;
	}
}

@media (max-width: 25em) {
	.nr {
		font-size: 20rem;
		bottom: 13%;
	}
	.year {
		font-size: 20rem;
	}

	.season {
		font-size: 20px;
		margin-bottom: 40px;
	}

	.above {
		font-size: 4rem;
	}
}

@media (max-height: 25em) {
	.season {
		font-size: 6rem;
	}
	.year {
		font-size: 23rem;
	}
	.above {
		left: 7rem;
		font-size: 6rem;
	}
	.headImg h2 {
		font-size: 35rem;
		bottom: 13%;
	}
	.headImg Img {
		width: 70%;
		transform: translateX(20rem);
	}
} */

/* @media (max-width: 31em) {
	.headImg h1 {
		font-size: 22rem;
		right: 0%;
		bottom: 15%;
		line-height: 0.6;
	}
	.year {
		font-size: 25rem;
	}

	.season {
		font-size: 5.5rem;
	}

	.above {
		font-size: 5.5rem;
	}
} */
