.container {
	height: 100vh;
	max-width: 95vw;
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headings {
	width: 250rem;
	padding-bottom: 10rem;
	position: relative;
}

.headImg {
	width: 170%;
}
.headImg h2 {
	position: absolute;
	right: 0%;
	bottom: 10rem;
	font-size: 55rem;
	line-height: 0.6;
	color: #0b0a11;
	opacity: 0.09;
}

.vertical {
	padding-bottom: 5rem;
	writing-mode: tb-rl;
	transform: rotate(180deg);
	text-align: justify;
}

.year {
	display: inline-block;
	color: #fed000;
	padding-right: 0;
	font-weight: 500;
	font-size: 45rem;

	opacity: 0;
	animation-name: year;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

.season {
	text-transform: uppercase;
	font-weight: 400;
	line-height: 30%;
	margin-top: 0;
	text-align: right;
	font-size: 16rem;
	text-decoration: underline black 0.5rem;

	opacity: 0;
	animation-name: season;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
}

.above {
	position: absolute;
	z-index: 5;
	left: 15rem;
	font-size: 9.6rem;
	bottom: 18rem;

	opacity: 0;
	animation-name: above;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	animation-fill-mode: forwards;
	animation-delay: 0.9s;
}

@keyframes year {
	from {
		opacity: 0;
		transform: translate(10vw, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes season {
	from {
		opacity: 0;
		transform: translate(10vw, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes above {
	from {
		opacity: 0;
		transform: translate(-10vw, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@media (max-width: 100em) {
	.season {
		font-size: 15rem;
	}
	.year {
		font-size: 30rem;
	}
	.above {
		left: 12rem;
		font-size: 8rem;
	}
}

@media (max-width: 81em) {
	.container {
		height: inherit;
	}
}

@media (max-width: 44em) {
	.season {
		font-size: 12rem;
	}
	.year {
		font-size: 25rem;
	}
	.above {
		left: 12rem;
		font-size: 6rem;
		bottom: 14rem;
	}
	.headImg h2 {
		font-size: 28rem;
		bottom: 13%;
	}
}

@media (max-height: 25em) {
	.season {
		font-size: 10rem;
	}
	.year {
		font-size: 23rem;
	}
	.above {
		left: 12rem;
		font-size: 6rem;
		bottom: 14rem;
	}
	.headImg h2 {
		font-size: 35rem;
		bottom: 17%;
	}
	.headImg Img {
		width: 80%;
		transform: translateX(10rem);
	}
}
