/* .app {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.app h3 {
	color: white;
	font-size: 4.8rem;
	text-align: left;
	margin-bottom: 1.2rem;
}

@media (max-width: 51em) {
	.app {
		gap: 2rem;
	}
	.app h3 {
		color: white;
		font-size: 3.6rem;

		margin-bottom: 0rem;
	}
} */
