.container {
	padding-top: 9.6rem;
	width: 70vw;
	margin: 0 auto;
	padding-bottom: 9.6rem;
}

.bakgrund {
	color: #e38547;
	font-size: 2.4rem;
}

.container h2 {
	/* width: 80%; */
	margin: 0 auto;
	font-size: 4.4rem;
	padding-bottom: 1.2rem;
}

.container p {
	/* width: 80%; */
	text-align: right;
	margin: 0 auto;
	font-size: 1.6rem;
	font-weight: 600;
	padding-top: 0.8rem;
}

.container section {
	/* width: 80%; */
	margin: 0 auto;
	font-size: 2.4rem;
	line-height: 1.4;

	padding-top: 2.4rem;
}

.container h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;

	padding-top: 9.6rem;
	padding-bottom: 0.8rem;
	color: #333;
}

.flexImg {
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
	display: flex;
	/* width: 80%; */
	overflow: hidden;
	/* filter: grayscale(100%); */
	filter: brightness(0%);
	opacity: 50%;
}

.imgBox {
	width: 10%;
}

@media (max-width: 32em) {
	.container {
		padding-top: 64px;
		width: 80vw;
		margin: 0 auto;
		padding-bottom: 24px;
	}
	.container h3 {
		padding-top: 24px;
	}
}
