.container {
	height: 100vh;
	width: 80vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerElement {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.headerImg {
	width: 80%;
}

.headerText {
	width: 80%;
}

.headerText h1 {
	font-size: 5.2rem;
}

.headerText p {
	line-height: 1.6;
	width: 90%;
	margin-bottom: 4.8rem;
	margin-top: 3.2rem;
}

.btn:link,
.btn:visited {
	box-sizing: inline-block;
	font-size: 2rem;
	font-weight: bold;
	background-color: black;
	border: none;
	padding: 1.6rem 3.2rem;
	color: white;
	text-decoration: none;
	border-radius: 6px;
	cursor: pointer;
}

.btn:hover {
	background: white;
	box-shadow: 2px black;
	color: black;
	cursor: pointer;
}

@media (orientation: portrait) {
	.headerElement {
		flex-direction: column-reverse;
	}

	.container {
		height: 100%;
	}

	.headerText {
		width: 100%;
	}
	.headerText p {
		width: 100%;
	}
}

@media (orientation: portrait) and (max-width: 21.5em) {
	.headerText {
		width: 80vw;
	}
	.headerText p {
		width: 100%;
	}
}
