/* .container {
	max-width: 90vw;
	margin-left: auto;
	height: 100vh;

	display: flex;
	align-items: center;
} */

/* .contentText {
	width: 50%;
	padding-bottom: 10rem;
} */

/* .text {
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
} */

/* .img {
	width: 50vw;
} */

.visableImg {
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: bild;
	animation-duration: 0.8s;
	animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}
.visableText {
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: text;
	animation-duration: 1.2s;
	animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	animation-delay: 0.7s;
}

@keyframes bild {
	from {
		opacity: 0;
		transform: translate(0, 100vh);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes text {
	from {
		opacity: 0;
		transform: translate(0, 100vh);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@media (orientation: portrait) {
	/* .container {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		height: 100%;
	} */
	/* .contentText {
		width: 90%;
	} */
	/* .contentImg {
		border: solid black 2px;
		width: 65vw;
		padding-bottom: 2.4rem;
		margin-bottom: 2.4rem;
	} */
	/* .img {
		width: 100%;
	} */
}
