.upperContainer {
}
.container {
	width: 70vw;
	margin: 0 auto;
}
.sectionContainer {
	margin-bottom: -20%;
}

.imgContainer {
	width: 100%;
}

.imgContainer img {
	width: 100%; /* or any custom size */
	height: 100%;
}

.svgContainer {
	transform: translate(-20%, -52%);
	width: 70%;
}
.imgContainer img {
}
